@import url('https://fonts.googleapis.com/css2?family=Praise&family=Roboto&family=Smooch+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #111;
    height: 100vh;
    max-width: 100vw;

    font-family: 'Roboto', sans-serif, thin;
    color: #F7F7F7;

}

/* navbar */
#navbar {
    width: 100%;
    height: 6vh;
    display: flex;
    background-image: linear-gradient(45deg, #0052C3 -25%, #FF3473 125%);
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    animation: backgroundlinear 3s cubic-bezier(0.100, 0.100, 0.100, 0.100);
    transition: 4s;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-family: 'Smooch Sans', sans-serif;
    font-style: italic;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
}

#navbar ul {
    list-style: none;
    display: flex;
}

.menu-option {
    margin: 0px 15px;
    cursor: pointer;
}

/* header */

#header {
    width: 100%;
    height: 80vh;

    display: flex;
}

#header-container {
    margin-top: 7vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#border-gradient-perfil {

    padding: 1rem;
    position: relative;
    background: linear-gradient(45deg, #0052C3 -25%, #FF3473 125%);
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition-property: none;
    transition-duration: 2s;
    animation: flutuando 2.5s cubic-bezier(0.100, 0.100, 0.100, 0.100) infinite;

}



#border-gradient-content {
    width: 50%;
    padding: 1rem;
    position: relative;
    background: linear-gradient(45deg, #0052C3 -25%, #FF3473 125%);
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    transition: 1s;

    animation: DtoE 2s ease;
}


.content {
    width: 100%;
    height: 100%;
    background-color: #222324;
    color: #848483;
    padding: 25px;
    border-radius: 25px;
    text-align: justify;
    line-height: 1.6rem;

}

.nome {
    margin-bottom: 10px;
    text-align: center;
}



.perfil {

    background: url('/img/perfil.jpg') no-repeat center center/cover;
    height: 250px;
    width: 250px;
    border-radius: 50%;



    /* transition-delay: 0.5s; */
}

/* main */

#main {
    width: 100%;
    display: flex;

}

#main-container {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section-title {
    text-align: center;
    margin: 25px 0px;
    font-size: 1.8rem;
    color: #666666;
    cursor: pointer;

}

#formacoes-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.formacao-border-gradient {
    width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(45deg, #0052C3 -25%, #FF3473 125%);
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    transition: 1s;
    justify-content: center;
    margin: 15px;
    animation: flutuando 2.5s cubic-bezier(0.100, 0.100, 0.100, 0.100) infinite;
    opacity: 0;
    cursor: pointer;

}

.formacao-border-gradient:nth-child(2n) {
    animation-delay: 1s;
}

.formacao-border-gradient:hover {
    width: 265px;
    animation: none;
}

.formacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #222324;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}



.formacao img {
    width: 200px;
    height: 200px;
    margin: 15px;
}


/* Projetos */

#projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#projetos-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;
}

.projeto-e {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 40px;
    opacity: 0;
    justify-content: center;
    align-content: center;
    grid-template-areas: 'a''b';

}

.projeto-d {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 40px;
    opacity: 0;
    justify-content: center;
    align-content: center;
    grid-template-areas: 'a''b';
}


.projeto-content {
    background-image: linear-gradient(45deg, #0052C3 -25%, #FF3473 125%);
    padding: 25px;
    border-radius: 25px;
    width: 100%;


}

.projeto-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
}

.projeto-description {
    font-size: 1.1rem;
    text-align: justify;
}

.ferramentas-ult {

    display: flex;
    justify-content: center;
    align-items: center;
}

.ferramenta {
    width: 35px;
    margin: 0px 15px;
    cursor: pointer;
}

.projeto-e .projeto-image-border {
    background-image: linear-gradient(45deg, #0052C3 -25%, #FF3473 125%);
    width: 100%;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: a;

}

.projeto-d .projeto-image-border {
    background-image: linear-gradient(45deg, #0052C3 -25%, #FF3473 125%);
    width: 100%;
    padding: 5px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.projeto-image {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.slider-e {
    animation: DtoE 2s ease;
    opacity: 1;
}

.slider-d {
    animation: EtoD 2s ease;
    opacity: 1;
}

.opaco {
    animation: opaco ease 800ms;
}



#footer {
    width: 100%;
    height: 40vh;
    background-color: #222324;
}

#footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.2rem;

}



.copyright {
    bottom: 10px;
}

@media(max-width: 1200px) {
    .projeto-e {
        display: flex;
        flex-direction: column;
    }

    .projeto-d {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 426px) {
    .projeto-d {
        width: 100%;
    }

    #projetos-list {
        padding: 0px;
    }

    #navbar {
        height: 12vh;
    }

    #header {
        height: auto;
        padding: 15px;
    }

    #header-container {
        margin-top: 7vh;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

    }


    #border-gradient-perfil {

        padding: 1rem;
        position: relative;
        background: linear-gradient(45deg, #0052C3 -25%, #FF3473 125%);
        padding: 3px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        transition-property: none;
        transition-duration: 2s;
        animation: flutuando 2.5s cubic-bezier(0.100, 0.100, 0.100, 0.100) infinite;

    }



    #border-gradient-content {
        width: 100%;
        padding: 3px;
        margin-top: 25px;
        animation: DtoE 2s ease;
    }

}

@media(max-width: 376px) {}

@keyframes backgroundlinear {
    0% {
        background-position: -1500px;

    }

    100% {
        background-position: 100%;
    }

}


@keyframes opaco {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes DtoE {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes EtoD {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes flutuando {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}